.review-form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.review-form-container {
    background-color: var(--mainColor);
    padding: 2rem;
    border-radius: 8px;
    width: 60%;
    /* Adjust the width as needed */
    max-width: 500px;
    /* Set a maximum width if necessary */
    height: 70%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.review-form-container form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* Adjust the gap to control the space between elements */
}

.review-form-container label {
    margin-bottom: 8px;
    color: #eee;
}

.review-form-container input,
.review-form-container select {
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #1f2123;
    color: #a1a1a1;
    font-size: 1rem;
}

.review-form-container textarea {
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #1f2123;
    color: #a1a1a1;
    font-size: 1rem;
    resize: vertical;
}

.review-form-container button {
    padding: 12px 15px;
    background-color: #282828;
    color: #eee;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

.review-form-container button:hover {
    background-color: #1f2123;
}